<div class="player">
  <div
    class="mat-list-base"
    *ngIf="channeldetail"
    [style.backgroundImage]="
      'url(' + channeldetail.images.background_1024x768 + ')'
    "
  >
    <div class="mat-list-item">
      <div class="mat-list-item-content">
        <div class="col icon">
          <img [src]="channeldetail.images.station_80x80" alt="" />
        </div>
        <div class="col text">
          {{ channeldetail.display_name }}<br />

          <small *ngIf="_current_song | async"
            >Title: {{ (_current_song | async)?.title }}<br />

            <ng-template *ngIf="(_current_song | async)?.album">
              Album:
              {{ (_current_song | async)?.album }}<br />
            </ng-template>

            Artist:
            {{ (_current_song | async)?.artist.name }}</small
          >
        </div>
        <!-- <div class="col  ">
          <button mat-icon-button aria-label="Rewind" [disabled]="true">
            <mat-icon>fast_rewind</mat-icon>
          </button>
        </div> -->
        <div class="col">
          &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col">
          <button mat-fab color="warn">
            <mat-icon
              class="material-icons"
              (click)="onPlay()"
              *ngIf="!clickedPlay"
            >
              play_arrow
            </mat-icon>
            <mat-icon
              class="material-icons"
              (click)="onStop()"
              *ngIf="clickedPlay"
            >
              stop
            </mat-icon>
          </button>
        </div>
        <div class="col">
          &nbsp; &nbsp; &nbsp;
        </div>
        <!-- <div class="col">
          <button mat-icon-button aria-label="Next" [disabled]="false">
            <mat-icon>fast_forward</mat-icon>
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>
