<div class="player">
  <div class="mat-list-base" *ngIf="channel" [style.backgroundImage]="'url(' + tab.image + ')'">
    <div class="mat-list-item">
      <div class="mat-list-item-content">
        <div class="col icon">
          <img [src]="channel.image" alt="" />
        </div>
        <div class="col text">{{ channel.name }}</div>
        <div class="col isSmall"></div>
        <!-- <div class="col  ">
          <button mat-icon-button aria-label="Rewind" [disabled]="true">
            <mat-icon>fast_rewind</mat-icon>
          </button>
        </div> -->
        <div class="col">
          &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col">
          <button mat-fab color="warn">
            <mat-icon
              class="material-icons"
              (click)="onPlay()"
              *ngIf="!clickedPlay"
            >
              play_arrow
            </mat-icon>
            <mat-icon
              class="material-icons"
              (click)="onStop()"
              *ngIf="clickedPlay"
            >
              stop
            </mat-icon>
          </button>
        </div>
        <div class="col">
          &nbsp; &nbsp; &nbsp;
        </div>
        <!-- <div class="col">
          <button mat-icon-button aria-label="Next" [disabled]="false">
            <mat-icon>fast_forward</mat-icon>
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>
