
.player
    border-top: 2px solid #303030
    box-shadow: 0 0 20px #000
    transition: all .5s ease-in-out
    .mat-list-base
        padding: 10px 0
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        .mat-list-item
            height: auto
            margin: -10px 0
            background-color: rgba(0,0,0,.5)
            .mat-list-item-content
                flex-wrap: wrap
                justify-content: center
                padding: 10px 0
                 
