#radio
    display: flex
    flex-direction: column
    height: 100vh
    overflow: hidden
#radio #mat-tab-group-wrapper
    flex: 1 1
    overflow: hidden
#radio #mat-tab-group-wrapper .mat-tab-body-wrapper
    overflow-y: auto !important
         
#radio .player-container
    transition: all .5s ease-in-out
    overflow: hidden


audio 
    display: none